body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#container {
  margin-left: 325px;
}
#AreaChartImp {
  color: white;
  float: left;
  margin-top: 30px;
}
#AreaChartImpButtons {
  float: left;
  clear: both;
  margin-left: 95px;
  border-radius: 12px;
}
#lineChartComp g {
  color: white;
}

#AreaChart {
  color: white;
}
h1 {
  color: white;
}

#BarGraph {
  color: white;
}

#guage-grad1 {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
